#sidebar-container {
  height: 100%;
  position: fixed;
  top: 0;
  right: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%; /* Full height of the viewport */
  background-color: white;
  padding: 10px;
  border-right: 1px #d2d2d2 solid;
}

#open-drawer-btn {
  display: flex;
  background-color: white;
  color: black;
  height: 45px;
}

#open-drawer-btn:hover {
  background-color: #efefef;
}

.instagram-text {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #000; /* Adjust color as needed */
}

#more-button {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 180px;
  background-color: white;
  color: black;
  height: 45px;
}

#more-button:hover {
  background-color: #efefef;
}

#search-bar {
  width: 100%;
  padding: 5px 10px;
  background-color: #efefef;
  outline: none;
  border-radius: 10px;
  border: none;
}

#search-item {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bolder;
  gap: 10px;
  padding: 5px 10px;
}

#search-item:hover {
  background-color: #dedede;
}
